@-moz-document url-prefix("about:"),
               url-prefix("chrome:")
{
  :root {
    --uc-my-color: white;
    --uc-my-color-hover: color-mix(in oklab, var(--uc-my-color) 90%, white);
    --uc-my-color-active: color-mix(in oklab, var(--uc-my-color) 80%, white);
    
    --color-accent-primary: var(--uc-my-color) !important;
    --color-accent-primary-hover: var(--uc-my-color-hover) !important;
    --color-accent-primary-active: var(--uc-my-color-active) !important;
    
    --in-content-primary-button-background: var(--uc-my-color) !important;
    --in-content-primary-button-background-hover: var(--uc-my-color-hover) !important;
    --in-content-primary-button-background-active: var(--uc-my-color-active) !important;
    
    --primary-button-background-color: var(--uc-my-color) !important;
    --primary-button-hover-background-color: var(--uc-my-color-hover) !important;
    --primary-button-active-background-color: var(--uc-my-color-active) !important;
  }
  
  treechildren::-moz-tree-row(current, focus) {
    outline-color: var(--uc-my-color) !important;
  }

  ::selection {
    background-color: var(--uc-my-color);
  }
}

@-moz-document url(about:newtab), url(about:home) {
  
  .personalize-button {
    display:none !important;
  }
  
  body {
    background-color: #1e1e1e !important;
  }
  
  .icon.icon-pin-small{ display: none !important } }
}

@-moz-document url("about:firefoxview") {
  :root {
    --fxview-primary-action-background: var(--uc-my-color) !important;
  }
}
