#back-button,
#forward-button {
  display: none !important;
}

#toolbar-menubar {
  display: none !important;
}

#navigator-toolbox {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  min-height: 32px !important;
}

#nav-bar {
  display: flex !important;
  align-items: center !important;
  flex: 0.45 0.45 auto !important;
  min-width: none !important;
  max-width: 60% !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#urlbar {
  order: 2 !important;
  flex: 1 1 auto !important;
  min-width: none !important;
  max-width: none !important;
}

#urlbar-background,
#urlbar[breakout][breakout-extend] > #urlbar-background {
 
  border: none !important;
  box-shadow: none !important;
}

#urlbar input,
#searchbar .searchbar-textbox {
  text-align: center !important;
}

#TabsToolbar {
  order: 3 !important;
  flex: 1 1 auto !important;
}

#PanelUI-button {
  order: -1 !important;
}
